@import url(fonts.scss);
/* @font-face {
    font-family: 'yekan';
    src: url('../font/Yekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */
  
    
    // * {
    //   font-family: 'iransans';
    //   transition: all 500ms;
    //   margin: 0;
    //   padding: 0;
    //   box-sizing: border-box;
    // }
    
    body {
      font-family: IRANSans !important;
	    font-weight: 300;
	    direction: rtl;
	    // background-color: #E2E2E2;
	    margin: 0;
      min-height: 100%;
    }
    .farsi-nums {
      font-family: IRANSans-fa !important;
    }

    button, input {
      font-family: IRANSans !important;
    }
    
    html{
      margin: 0;
      padding: 0;
    }

    button:focus, input:focus {
      outline: none;
    }
    
    // .logo {
    //   width: 100%;
    //   height: 100px;
    //   margin-top: 16px;
    //   margin-bottom: 16px;
    //   background-image: url("../logo.png");
    //   background-size: contain;
    //   background-repeat: no-repeat;
    //   background-position: center;
    // }
    .additional-container {
      
      width: 100%;
      max-width: 1000px;
      margin-bottom: 100px;
    }
    
    .additional-container .text {
      border-radius: 10px;
      border: 4px solid #eee;
      text-align: justify;
      text-justify: inter-word;
    }
    
    .additional-container h1 {
      margin-top:  64px;
    }

    .container {
      width: 80%;
      margin: 0 auto;
    }
  
    .digital-font {
      font-family: 'digital';
      font-weight: bold;
      font-size: 24px;
      font-size: 1.5rem;
    }
    a {
    	text-decoration: none;
    	color: black;
    }
    a:hover {
    	text-decoration: none;
    	color: black;
    }
    .light {
      .side {
        border-left: 1px solid #eee;
      }
      .el-avatar {
        background-color: #eee;
      }
    }
    .dark {
      .el-avatar {
        background-color: #777;
      }
      .side {
        border-left: 1px solid #222 !important;
      }
      .el-card {
        background: #333;
        border: unset
      }
      .el-menu--horizontal {
        background: unset;
        border: unset
      }
      .el-menu--horizontal:hover{
        background: unset;
        border: unset
      }
      .el-header {
        background-color: #333;
      }
      .el-table th.is-leaf, .el-table td {
        border-bottom: 1px solid #555;
        background: #333;
      }
      .el-table--striped .el-table__body tr.el-table__row--striped td {
        background: #444;
      }
      .table--border td {
        border-right: 1px solid #222;
      }
      .el-table--border th, .el-table--border td {
        border-right: 1px solid #222;
      }
      .el-table tr {
        background-color: #333;
        color: #eee;
      }
      .el-table--enable-row-hover .el-table__body tr:hover > td {
        background-color: #333;
      }
      .el-input__inner {
        -webkit-appearance: none;
        background-color: #222;
        color: #fff;
        border-color: #444;
      }
    
      .el-textarea__inner {
        background-color: #222;
        border-color: #444;
        color: #fff;
      }
      .el-input-number__increase, .el-input-number__decrease {
        background: #444;
        color: #fff;
      }
      .el-upload-dragger {
        background-color: #222;
        border: 1px dashed #d9d9d9;
      }
      .el-pagination button:disabled {
        color: #C0C4CC;
        background-color: #333;
      }
      .el-pager li {
        background: #333;
      }
      .el-table__empty-block {
        background: #333;
      }
      .el-table {
        position: relative;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        width: 100%;
        max-width: 100%;
        background-color: #333;
      }
      .el-form-item__label {
        color: #eee;
      }
      .col-head {
        color: #aaa;
        font-weight: bold;
      }
    
      .el-pagination .btn-prev, .el-pagination .btn-next {
        color: #C0C4CC;
        background-color: #333;
      }
      .el-input.is-disabled .el-input__inner {
        background-color: #333;
        border-color: #444;
        color: #555;
      }
      .el-page-header__content {
        font-size: 18px;
        color: #eee;
      }
      .el-page-header__title {
        color: #aaa;
      }
      .el-page-header__left .el-icon-back {
        color: #aaa;
      }
      h1, h2, h3, h4, h5, h6 {
		color: #fff;
		text-align: right;
      }
      .el-tabs--border-card {
        background: #333;
        border-color: #454545;
      }
      .el-tabs--card > .el-tabs__header .el-tabs__item.is-active {
        border-bottom-color: #222;
        color: #77f;
      }
      .el-tabs--border-card > .el-tabs__header {
        background-color: #444;
        border-color: #454545;
      }
      // .el-tabs--card > .el-tabs__header .el-tabs__item {
      //   border-color: #444;
      // }
      .el-tabs--card > .el-tabs__header .el-tabs__nav {
        border-color: #555;
      }
      .el-tabs--card > .el-tabs__header {
        border-bottom-color: #555;
      }
      .el-tabs--card > .el-tabs__header .el-tabs__item {
        border-left: 1px solid #555;
        color: #999;
      }
      p{
          color: white;
      }
    
      .el-tree {
        background: unset;
        color: #eee;
      }
    
      .el-tree-node__content:hover {
        background-color: #333;
      }
    
      .creator{
          color: #eee;
      }
    }
    .col-title {
      text-align: right;
      padding-right: 32px;
    }
    .content {
      max-width: 1200px;
      min-width: 250px;
      margin-right: auto;
      margin-left: auto;
      width: 100%;

      &.large-content {
        max-width: 1400px;
      }
      &.medium-content {
        max-width: 800px;
      }

      &.small-content {
        max-width: 400px;
      }
    }
  .text-center {
    text-align: center;
  }

  body.modal {
    overflow: hidden;
    max-width: 100vw;
    max-height: 100vh;
  }

.home-page, .prices-page, .docs-page, .about-page, .signin {
  .btn{
    background: none;
    border: none;
    display: block;
  }

  .btn-sign{
      color: #fff;
      font-size: 16px;
      padding: 5px 10px;
      cursor: pointer;
      display: block;
  }

  .btn-sign.active{
      background: #fff;
      border-radius: 10px;
      color: #0055d4ff;
  }

  .btn-sign.active:hover{
      opacity: 0.8;
      text-decoration: none;
  }

  .btn-sign:hover{
      /* background: #fff; */
      border-radius: 10px;
      /* color: #0055d4ff; */
  }
}